run = "python manage.py runserver 0.0.0.0:3000"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "python manage.py migrate && python manage.py collectstatic --noinput && gunicorn project.wsgi:application --bind 0.0.0.0:3000"]

deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
